---
layout: page
title: People
permalink: /people/
---

<div class="element-container">
  <h1>Collaborators</h1>

  {% assign collaborators = site.categories.people | sort: 'order' %}
  {% for post in collaborators %}
  {% if post.active == true %}
  <div class="post-area">
    <a href="{{ post.url | prepend: site.baseurl }}" class="title-link">
        <img src="{{ post.image }}" height="100px" alt="Member" style="border-radius: 8px;">
      {{ post.name }}
    </a>
    <p>
      {{ post.content | strip_html | truncatewords: 50 }}
    </p>
    <a class="info-link" href="{{ post.url | prepend: site.baseurl }}"> More Info </a>
  </div>
  {% endif %}
  {% endfor %}
  
  <h1>Ex-collaborators</h1>
  
  {% assign exCollaborators = site.categories.people %}
  {% for post in exCollaborators %}
  {% if post.active == false %}
  <div class="post-area">
    <a href="{{ post.url | prepend: site.baseurl }}" class="title-link">
        <img src="{{ post.image }}" height="100px" alt="Member" style="border-radius: 8px;">
      {{ post.name }}
    </a>
    <p>
      {{ post.content | strip_html | truncatewords: 50 }}
    </p>
    <a class="info-link" href="{{ post.url | prepend: site.baseurl }}"> More Info </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

