---
layout: page
title: Publications
permalink: /publications/
---

<div class="post-area">
  <p class="bold">
    <h1> [ Journals ] </h1>
  </p>
</div>



{% for journal in site.data.journals %}
<div class="post-area">
  <a href="#" class="bold">{{ journal.title }}</a>
  <p>
    <b>Author:</b> {{ journal.authors }} <br>
    <b>Publications:</b> {{ journal.publications | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}



<div class="post-area">
  <p class="bold">
    <h1> [ Full Papers ] </h1>
  </p>
</div>




{% for paper in site.data.papers %}
<div class="post-area">
  <a href="#" class="bold">{{ paper.title }}</a>
  <p>
    <b>Author:</b> {{ paper.authors }} <br>
    <b>Publications:</b> {{ paper.publications | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}



<div class="post-area">
  <p class="bold">
    <h1> [ Short Papers ] </h1>
  </p>
</div>



{% for shortpaper in site.data.shortpapers %}
<div class="post-area">
  <a href="#" class="bold">{{ shortpaper.title }}</a>
  <p>
    <b>Author:</b> {{ shortpaper.authors }} <br>
    <b>Publications:</b> {{ shortpaper.publications | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}