<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="http://www.ufrpe.br/" target="blank">
                    <img src="/img/footer/ufrpe.jpg" height="100px">
                </a>
                <a href="http://www.lis-lab.fr/" target="blank">
                    <img src="/img/footer/cropped-logo_LIS_color-2.png" height="100px">
                </a>
                <a href="http://assistive.cin.ufpe.br/" target="blank">
                    <img src="/img/footer/logo-assistive.png" height="100px">
                </a>
                <br>
                <a href="http://www.ufrpe.br/" target="blank">UFRPE</a> |
                <a href="http://www.ppgia.ufrpe.br/" target="blank">PPGIA</a> |
                <a href="http://www.dc.ufrpe.br/" target="blank">DC</a> |
                <a href="http://www.lis-lab.fr/" target="blank">LIS</a> |
                <a href="http://assistive.cin.ufpe.br/" target="blank">ASSISTIVE</a>
                <br>
                <hr>
                <div class="footer-manu">
                    <ul>
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/people">People</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Publications</a></li>
                        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                    </ul>
                </div>
                <p>&copy; 2018 Text Mining Group UFRPE | Design &amp; Developed by <a href="https://rodriguesfas.com.br">RodriguesFAS</a>.</p>
            </div>
        </div>
    </div>
</footer>