
<header>
    <div class="nav">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/img/logo.png" alt="UFRPE" title="" height="80px">
        </a>
        <span class="nav-title">Text Mining Group UFRPE</span>
        <div class="spacer"></div>
        <div>
            <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
            <a class="nav-link" href="{{ site.baseurl }}/publications">Publications</a>
            <a class="nav-link" href="{{ site.baseurl }}/people">People</a>
            <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
        </div>
    </div>
</header>
